/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:Arial,Helvetica,sans-serif;

    background:var(--gray);

    color:var(--text);

    line-height:1.6;

    overflow-x:hidden;

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

    transition:var(--transition);

}

ul{

    list-style:none;

}

button{

    border:none;

    cursor:pointer;

    transition:var(--transition);

}

.container{

    width:92%;

    max-width:var(--container);

    margin:auto;

}

section{

    padding:90px 0;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title span{

    display:block;

    color:var(--primary);

    font-size:14px;

    font-weight:700;

    letter-spacing:3px;

    text-transform:uppercase;

    margin-bottom:12px;

}

.section-title h2{

    font-size:42px;

    color:var(--dark);

}

.btn-yellow{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    background:var(--primary);

    color:var(--dark);

    padding:18px 36px;

    border-radius:var(--radius);

    font-weight:700;

}

.btn-yellow:hover{

    background:var(--primary-hover);

}

.btn-white{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    border:2px solid white;

    color:white;

    padding:18px 36px;

    border-radius:var(--radius);

    font-weight:700;

}

.btn-white:hover{

    background:white;

    color:var(--dark);

}